.gitignore
docs/LaTeX/*.aux
docs/LaTeX/*.fdb*
docs/LaTeX/*.fls
docs/LaTeX/*.log
docs/LaTeX/*.out
docs/LaTeX/*.synctex*
docs/LaTeX/*.toc
docs/LaTeX/*.png
docs/LaTeX/*.jpg
docs/LaTeX/*.bbl
docs/LaTeX/*.blg
docs/LaTeX/cherubinFrontespizio*
docs/Report.pdf
EdgeComputing_Project/.settings/*
EdgeComputing_Project/out/*
EdgeComputing_Project/simulations/*
EdgeComputing_Project/src/.qtenvrc
EdgeComputing_Project/src/Makefile
EdgeComputing_Project/src/EdgeComputing_Project_dbg.exe
EdgeComputing_Project/src/package.ned
EdgeComputing_Project/src/QueuePacket_m.*
EdgeComputing_Project/src/QueuePacket.*
EdgeComputing_Project/Makefile
/scripts/data/
EdgeComputing_Project/src/run
EdgeComputing_Project/src/EdgeComputing_Project.exe
/scripts/venv
/scripts/__pycache__
