docs/LaTeX/*.aux
docs/LaTeX/*.fdb*
docs/LaTeX/*.fls
docs/LaTeX/*.log
docs/LaTeX/*.out
docs/LaTeX/*.synctex*
docs/LaTeX/*.toc
docs/LaTeX/*.png
docs/LaTeX/*.jpg
docs/LaTeX/*.bbl
docs/LaTeX/*.blg
docs/LaTeX/cherubinFrontespizio*
docs/Report.pdf
EdgeComputing_Project/.settings/*
EdgeComputing_Project/out/*
/scripts/data/
/scripts/venv
/scripts/__pycache__
/EdgeComputing_Project/simulations/results
EdgeComputing_Project/simulations/Lognormal.anf
EdgeComputing_Project/simulations/Uniform.anf
/.metadata/
EdgeComputing_Project/.cproject
EdgeComputing_Project/simulations/.qtenvrc
EdgeComputing_Project/simulations/run
EdgeComputing_Project/src/EdgeComputing_Project.exe
EdgeComputing_Project/src/EdgeComputing_Project_dbg.exe
EdgeComputing_Project/src/QueuePacket_m.cc
EdgeComputing_Project/src/QueuePacket_m.h
EdgeComputing_Project/simulations/General.anf
.gitignore
